<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprobar Quizz</title>
</head>
<body>
    <h1>Aprobación de Quizzes</h1>

    <p>Vista para que los editores puedan ver lo que contiene un exámen que seleccionarán desde su dashboard, debe ser dinámica y mostrar un botón para aprobar el examen </p>
    <p>Redirecciona a dashboar de editores con mensaje de éxito</p>
</body>
</html>