<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Quizz</title>
</head>
<body>
    <p>Funcionalidad de los Editores para poder editar  Quizzes<p>
        <p>Podemos usar el código de este apartado para hacer el de los docentes</p>    
</body>
</html>