<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editores</title>
</head>
<body>
    <h1>Dashboard Editores</h1>
    <a href="/editores/aprobar">Aprobar Quizzes</a><br>
    <a href="/editores/crear">Crear Quizzes</a><br>
    <a href="/editores/editar">Editar Quizzes</a><br>
</body>
</html>