<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editores</title>
</head>
<body>
    <h1>Dashboard Docentes</h1>
    <a href="/docentes/crear">Crear Quizzes</a><br>
    <a href="/docentes/editar">Editar Quizzes</a><br>
    <a href="/docentes/resultados">Ver Resultados</a><br>
</body>
</html>