<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Resultados</title>
</head>
<body>
    <h1>Vista de los resultados para los docentes</h1>
    <p>Será cargado dinámicamente desde el dashboard de docentes , mostrará el resultado de determinado quizz por alumno</p>
</body>
</html>