<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados</title>
</head>
<body>
    <h1>Resultados del examen</h1>
    <p>Aquí se visualizará la calificación  del alumno así como retroalimentación de las respuestas correctas</p>
</body>
</html>