<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacer Examen</title>
</head>
<body>
    <h1>Vista para realizar los examenes</h1>
    <p>Contendrá un molde de los examenes creados para que los contesten los alumnos</p>
    <a href="/alumnos/respuestas">Enviar respuestas</a>
</body>
</html>