<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <h1>Dashboard alumnos</h1>
    <p>Contendrá la información de todos los examenes para realizar, mostrado por algún filtro(materia, grado etc)</p>
    <p>Y opciones para ir a dicho examen</p>

    <h1>Materia a la que pertenece el Quizz</h1>
    <table>
        <tr>
          <th>Nombre del Quizz</th>
        </tr>
            <% 
            quizzes.forEach (function (quizzes){ %>
            <tr>
                <td><%= quizzes.nombreQuizz %></td>
       
                 <td> 
                  <a href="/alumnos/examen/<%= quizzes._id %>">Realizar Quizz</a>
                </td>
            </tr>            

                <% }); 
            %>
           
        
    
      </table>
      <!--
    <a href="/alumnos/examen">Hacer examen</a><br>
        -->
    <a href="/alumnos/registro">Historial de Exámenes</a>

   
</body>
</html>