<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de exámenes</title>
</head>
<body>
    <h1>Vista para ver el historial de los alumnos en sus examenes</h1>
    <p>Se mostrará los examenes que el alumno ha hecho y la puntuación , tiempo y demás que ha obtenido</p><br>
    <p>Puede redirigir a otra vista de las cosas que contestó</p>
</body>
</html>